/*Estilo para o index*/
/*-----------------------------------*/
.container-main{
    padding: 25px;
}

.img-logo{
    margin-top: 100px;
    margin-bottom: 50px;
}

.login{
    width: 400px;
    background-color: rgb(168, 168, 168, 0.3);
    padding: 25px;
}

.login label{
    float: left;
    font-weight: bold;
}

.login input{
    height: 35px;
}

.login button{
    background-color: rgb(85, 139, 13);
    color: #fff;
    font-size: 20px;
}

/*Estilo para o sistema*/
/*------------------------------------------*/


#nav{
    background-color: rgb(209, 209, 209);
    height: 55px;
}

#nav a{
  color: #222;
  padding: 12px;
}

.btnSair{
  margin-left: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
}

.btnOpcoes, .btnUltimaSenha{
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
}

.nav2{
  background-color: white;
  color: #000;
  font-size: 18px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}

.nav2 li{
  margin-right: 20px;
}

.painel-esquerdo{
  padding: 20px;
  background-color: #f3f3f3;
}

.painel-esquerdo li{
  font-size: 30px;
}

.painel-direito{
  padding: 20px;
  background-color: #f3f3f3;
}

.botoes{
  display: block;
  float: right;
}

.lista-senhas button{
  display: block;
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  color: black;
  width: 200px;
}

.lista-senhas li{
  background-color: #c3e6cb;
}

.lista-nao-atendidas li{
  color: #222;
  background-color: rgb(255, 255, 255);
}

.lista-nao-atendidas label{
  color: rgb(212, 46, 46);
  text-shadow: 1px 1px rgb(46, 46, 46);
}

#btn-chamar{
  background-color: rgb(255, 255, 255);
  color: #222;
  font-size: 20px;
  height: 60px;
}

#btn-chamar:hover{
  background-color: #222;
  color: #fff;
}

#btn-atendido{
  color: black;
  font-size: 20px;
  height: 60px;
  background-color: rgb(95, 207, 67);
}

#btn-atendido:hover{
  background-color: #222;
  color: #fff;
}

#btn-naoatendido{
  color: black;
  font-size: 20px;
  height: 60px;
  background-color: rgb(212, 46, 46);
}

#btn-naoatendido:hover{
  background-color: #222;
  color: #fff;
}


.lista-senhas label{
  margin-right: 300px;
  color: rgb(212, 46, 46);
  text-shadow: 1px 1px rgb(46, 46, 46);
}




/*Estilo para o monitor*/
/*------------------------------------------*/

.container-cima{
    padding: 25px;
    margin-bottom: 5px;
  }

  .container-cima h1{
    position: relative;
    float: right;
    font-size: 100px;
  }

  .container-cima img{
    margin-top: -15px;
  }

  .painel-senha{
    background-color: rgb(85, 255, 99);
  }

  .painel-senha label{
    float: left;
    font-size: 90px;
  }

  .painel-senha h2{
    font-size: 140px;
    margin-bottom: 20px;
  }

  .painel-balcao{
    background-color: rgb(45, 253, 62);  
  }

  .painel-balcao label{
    float: left;
    font-size: 90px;
  }

  .painel-balcao h2{
    font-size: 160px;
    margin-bottom: 10px;
    margin-left: 600px;
  }


  /*Estilo para gerar_senha*/
  /*---------------------------------*/

  .container {
    background-color: transparent;
  }

  .container_two{
    background-color: rgb(159, 255, 151);
    padding: 10px;
    padding-bottom: 50px;
    border-radius: 15px;
  }

  .title{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
  }

  img{
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .form-setor button{
    background-color: green;
    color: #fff;
    font-size: 60px;
    border-radius: 25px;
    width: 650px;
    height: 150px;
  }

  /*Estilo para prioridade*/
  /*---------------------------*/

  .container {
    background-color: transparent;
  }

  .container_two{
    background-color: #222;
    padding: 10px;
    border-radius: 15px;
  }

  .title{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
  }

  img{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .btn1{
    background-color: green;
    color: #fff;
    font-size: 60px;
    border-radius: 25px;
    width: 650px;
    height: 120px;
  }

  .btn2{
    background-color: red;
    color: #fff;
    font-size: 60px;
    border-radius: 25px;
    width: 650px;
    height: 120px;
  }

  .btn3{
    background-color: #dedede;
    color: #000;
    font-size: 40px;
    border-radius: 25px;
    width: 650px;
    height: 100px;
  }

  /*--------------------------------------------------*/
  /*Estilo para escolher_mesa*/

  .div-setor{
    margin-top: 20px;
  }

  .div-setor h2{
    color: #000;
    font-size:60px;
    text-align: center;
    margin-bottom: 50px;
  }

  .div-setor form{
    padding: 15px;
    background-color: rgb(85, 139, 13);
  }

  .div-setor label{
    color: white;
    font-size:30px;
    text-align: center;
  }

  .div-setor select{
    font-size: 45px;
    height: 80px;
  }
  .div-setor button{
    height: 60px;
    font-size: 30px;
    background-color: #fff;
  }